<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bouncingball">

    <application android:label="BouncingBall"
                 android:icon="@drawable/icon">
        <activity android:name=".MainActivity"
                  android:label="Bouncing Ball"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
